@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&family=Roboto:wght@100&display=swap');

@keyframes slide {
    0% {visibility: visible; transform: translateX(0%);}
    100% {visibility: hidden; transform: translateX(100%);}
}

@keyframes slide-up-old {
    0% {opacity: 100%; transform: translateY(0);}
    100% {opacity: 0%; transform: translateY(100%);}
}

@keyframes slide-up-new {
    0% {opacity: 0%; transform: translateY(100%);}
    100% {opacity: 100%; transform: translateY(0);}
}

.slide-out {
    animation-name: slide;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.slide-in {
    animation-direction: reverse;
    animation-name: slide;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.slide-up-old {
    animation-name: slide-up-old;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.slide-up-new {
    animation-name: slide-up-new;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

body {
    font-family: raleway;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.backgroundSunny, .backgroundCloudy, .backgroundRainy, .backgroundSnow, .backgroundThunderstorm, .backgroundDrizzle {
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
}

.backgroundSunny {
    background-image: url(images/clear\ sky.jpg );
}

.backgroundCloudy {
    background-image: url(images/cloudy.jpg);
}

.backgroundRainy {
    background-image: url(images/rain.jpg);

}

.backgroundSnow {
    background-image: url(images/snow.jpg);

}

.backgroundDrizzle {
    background-image: url(images/drizzle.jpg);

}

.backgroundThunderstorm {
    background-image: url(images/thunderstorm.jpg);

}

#inputCity {
    height: 40px;
    width: 200px;
    align-self: flex-end;
    margin-top: 100px;
    padding-left: 10px;
    background: rgb(243, 240, 240);
    border: none;
    color: rgb(167, 164, 164);
    font-family: raleway;
    font-size: 1.3rem;
    position: absolute;
    top: 20%;
    
}


#inputCity:focus {
    outline: none;
}

.search {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 60px;
    width: 300px;
    height: 100%;
    right: -200px;
    transition: transform 1s;
    transition-delay: 1s;

}

.logo {
    font-family: roboto;
    color: white;
    font-size: 3rem;
    margin-right: 60px;
}

.cityButton {
    cursor: pointer;
    align-self: flex-end;
    margin-top: 100px;
    background: rgb(243, 240, 240);
    border: none;
    color: white;
    font-family: raleway;
    width: 70px;
    position: absolute;
    top: 20%;

}

.fa-magnifying-glass {
    font-size: 1.3rem;
    padding: 10px 0;
    color:rgb(167, 164, 164);
}




.main {
    display: flex;
}

.cityInfo {
    font-weight: 300;
    display: flex;
    gap: 10px;
    margin-left: 5vw;
    margin-top: 5vw;
    color: white;
}

.city {
    font-size: 4rem;
}

.country {
    font-size: 2rem;
    margin-top: 32px;
}



.localTime {
    margin-top: 10px;
    color: white;
    margin-left: 5vw;
    font-size: 1.2rem;
}

.weatherInfo {
    height: 30%;
    width: 100vw;
    backdrop-filter:blur(16px);
    background: linear-gradient( rgba(201, 199, 199, 0.3), rgba(204, 202, 202, 0.3) );
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    font-size: 1.2rem;
    color: white;
    position: relative;
}

.overallWeather {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.weather {
}

.fa-sun, .overallWeather .fa-cloud, .fa-showers-heavy, .fa-snow, .fa-cloud-drizzle, .fa-cloud-bolt {

    font-size: 6rem;
}

.temperatureInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 150px;
    height: 100%;
    font-size: 4rem;
    font-weight: 400;
}


.temperatureText {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    width: 60%;
    height: 100%;
    text-align: left;
}

.weatherInfo-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
}

.weatherInfo-right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.humidityColumn, .windColumn, .cloudColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-left: solid grey 1px;
    height: 100%;
}

.fa-droplet, .fa-wind, .fa-cloud{
    font-size: 2rem;
}



.humidityColumn {
    margin-left: auto;
}

.cloudColumn {
    border-right: solid grey 1px;
}

.humidity, .windiness, .cloudiness {
    width: 50px;
    border-top: solid rgb(185, 185, 185) 1px;
    padding-top: 10px;
    font-size: 1.7rem;
    font-weight: 400;
}

.hide {
    visibility: hidden;
}

@media only screen and (max-width: 1100px) {
    .weatherInfo-right {
        flex-direction: column;
    }
    .humidityColumn, .windColumn, .cloudColumn {
        flex-direction: row;
        justify-content: space-around;
        border-right: solid grey 1px;
    }
    .windiness, .cloudiness, .humidity {
        border: none;
    }
    .humidity, .windiness, .cloudiness {
        padding: 0;
    }
}

.error-message {
    position: absolute;
    font-size: 2rem;
}

@media only screen and (max-width: 750px) {
    .cityInfo, .weatherInfo-left {
        flex-direction: column;
    }
    .country {
        margin-top: 0;
    }
    .temperatureText p, .feel, .logo {
        display: none;
    }
    .weatherInfo-left {
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .weatherInfo-right > * >p {
        display: none;
    }
    .humidity::after {
        content: "%";
    }
    .windiness::after {
        content: "m/s";
    }
    .cloudiness::after {
        content: "%";
    }
    .humidity, .windiness, .cloudiness {
        font-size: 1.2rem;
    }
    .temperature {
        font-size: 2.7rem;
    }
    .fa-solid {
        scale: .7
    }
    .weather {
        font-size: 1rem;
    }
}

